TOP_IP_NAME                 = alu
TOP_MODULE_NAME             = alu
VERILOG_ANALYZE_OPTS        = -ignore_translate_off +define+SVA_LIB_SVA2009+ASSERT_ON 
RUN_NETBATCH                = false
RUN_PARALLEL                = false
RUN_PROVE                   = false
# mroha: Workaround for 2023.12.SP1
JG_PRE_POST_TCL_DIR         = input
