
#
# IVB FUB Power Spec
#
#
# File Format:
#
# layer:<layer#>   net:<power_name>  space:<um> width:<um> direction:<horizontal>|<vertical> via:<via-type> count:<#of_via> width2:<um>
# waiver:<layer#>[,<layer#>..]  net:<power_name>   cell:<cell>[,<cell2>..]
#
# via: Via type (via size) or any via, example: via2f via3rq via8a via8b...
# count: number of via in each intersection
# width2: is the width of the covering metal
#
# IVB: /p/mpg/proc/common2/utils/tool_utils/issrunsets1270/ivb_1.5/pwrgrid/v8/pitch_check.ev
# SNB: /p/mpg/proc/common2/utils/tool_utils/issrunsets1268/gsr_1.5/fubrunsets/pitch_check/v8/pitch_check.ev
#
#

# layer:metal2  net:vss   space:1.140 width:0.100   direction:horizontal  via:via2f  count:1 width2: 0.100
# layer:metal2  net:vcc   space:1.140 width:0.100   direction:horizontal  via:via2f  count:1 width2: 0.100

### For Metal2 check only Via2 for every power intersection of metal2 with width=0.100 and Metal3 with width of 0.100
layer:metal2  net:vss   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal2  net:vcc   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal2  net:vccd   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal2  net:vccpedllqu   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal2  net:vccpeu   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal2  net:vccpequ   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal2  net:vccpeqg   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal2  net:vccpeg   space:N/A   width:0.100    direction:horizontal via:via2f  count:1 width2: 0.100
layer:metal3  net:vss   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180 
layer:metal3  net:vcc   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180
layer:metal3  net:vccd   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180
layer:metal3  net:vccpedllqu   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180
layer:metal3  net:vccpeu   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180
layer:metal3  net:vccpequ   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180
layer:metal3  net:vccpeqg   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180
layer:metal3  net:vccpeg   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180
layer:metal4  net:vss   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal4  net:vcc   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal4  net:vccd   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal4  net:vccpedllqu   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal4  net:vccpeu   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal4  net:vccpequ   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal4  net:vccpeqg   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal4  net:vccpeg   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240
layer:metal5  net:vss   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal5  net:vcc   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal5  net:vccd   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal5  net:vccpedllqu   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal5  net:vccpeu   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal5  net:vccpequ   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal5  net:vccpeqg   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal5  net:vccpeg   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360
layer:metal6  net:vss   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480
layer:metal6  net:vcc   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480 
layer:metal6  net:vccd   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480 
layer:metal6  net:vccpedllqu   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480 
layer:metal6  net:vccpeu   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480 
layer:metal6  net:vccpequ   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480
layer:metal6  net:vccpeqg   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480 
layer:metal6  net:vccpeg   space:4.560 width:0.360   direction:horizontal  via:via6rq count:2 width2: 0.480

#layer:metal7  net:vss   space:7.200  width:0.480   direction:vertical    via:via7rq count:3 width2: 0.900
#layer:metal7  net:vcc   space:7.200  width:0.480   direction:vertical    via:via7rq count:3 width2: 0.900


waiver:metal2,metal3,metal4  net:vss cell:yg0epg*,glbdrv*
waiver:metal2,metal3,metal4  net:vcc cell:yg0epg*,glbdrv*


### EPG power grid Check
layer:metal2  net:vcceu   space:2.35  width:0.100   direction:horizontal  via:via2f  count:1 width2: 0.100  cell: *epg_*
layer:metal2  net:vcceg   space:2.35  width:0.100   direction:horizontal  via:via2f  count:1 width2: 0.100  cell: *epg_*
layer:metal3  net:vcceu   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180  cell: *epg_*
layer:metal3  net:vcceg   space:1.800  width:0.100   direction:vertical    via:via3h count:1 width2: 0.180  cell: *epg_*
layer:metal4  net:vcceu   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240  cell: *epg_*
layer:metal4  net:vcceg   space:2.280 width:0.180   direction:horizontal  via:via4e count:1 width2: 0.240  cell: *epg_*
layer:metal5  net:vcceu   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360  cell: *epg_*
layer:metal5  net:vcceg   space:3.600  width:0.240   direction:vertical    via:via5d count:1 width2: 0.360  cell: *epg_*

waiver:metal2,metal3,metal4   net:vcceu cell:yg0epgcpd*
waiver:metal2,metal3,metal4   net:vcceg cell:yg0epgcpd*,yg0epgctd*

