TOP_IP_NAME                 = alu
TOP_MODULE_NAME             = alu
DUT                         =
# create output directory with the PASS name
PASS                  	    = 
# to provide compile command option
VERILOG_ANALYZE_OPTS        = -sverilog -lca -kdb -timescale=1ps/1ps
# to provide elab command option
ELAB_OPTS_SWITCH            =
# to provide upf file name
UPF_FILE                    =
# to mention design_top name for upf 
POWER_TOP                   =
# if value will be true run will be launch in netbatch
RUN_NETBATCH                = false
# Option to specify for parallel run, can be 'true' or 'false'.
# run will be launch in nbfeeder
RUN_PARALLEL                = false
# it will enable -kdb -lca -debug_access+all option
# if this value will be true
DEBUG_SWITCH				= false
# it will enable -diag macro_values option to 
# catch the macro override
MACRO_OVERRIDES				= true
# it will enable -full64 option to run vcs
#in 64 bit machine
VCS_FULL64                  = true
CTH_QUIET_MODE              = false 
CTH_GK_MODE                 = false
# if any greater than 0 value is provide it will do local 
# parallel run with that number
MULTI_THREADING             = 0
# mention the top library name. This option is mandatory
# for vhdl design
TOP_COMPILE_LIB             =
# to provide additional SYNOPSIS_SIM_SETUP file
ADDITIONAL_SIM_SETUP_FILE   =
