#HIP Options
USE_LIB_ANALYSER           = true
HIP_TYPE                   = arc
PRINT_RES                  = false
NO_MW                      = true
NO_NDM                     = true 
NO_DB                      = true
NO_LIB                     = false
NO_TCL                     = true
FILE_PATTERN_CSV           = $WORKAREA/handoff/r2g_lite/prepare_hip/hardip_file_patterns.csv
OC_PATTERN_CSV             = $WORKAREA/handoff/r2g_lite/prepare_hip/hardip_oc_patterns.csv
#LIB_PATTERN_CSV            = $WORKAREA/handoff/r2g_lite/prepare_hip/hardip_lib_patterns.csv
