# mroha: Set DUT=dut and TOP_MODULE_NAME=module on the make command line so ${TOP_MODULE_NAME} amd ${DUT}
# mroha: TOP_IP_NAME is set in dut.design.cfg
TOP_IP_NAME                     = ${TOP_IP_NAME}  
TOP_MODULE_NAME                 = ${TOP_MODULE_NAME}
PASS                            = ${TOP_MODULE_NAME}_pass01

LIB_LIST                        = stdcell.ldb.list

# 2stage filelist, hip ldbs, and clock constraints must be provided as a part of the run
# $WORKAREA/REF_MODEL is a symlink to a GK release model being used as input
# Example: $WORKAREA/REF_MODEL -> /nfs/site/disks/corhub_fe_mod_0000/corhub_oks/corhub_oks-a0-corhub_oks-26ww27e

# FILELIST still required even with 2stage
FILELIST                        = $WORKAREA/power/pprtl2/REF_MODEL/output/${DUT}/genfilelist/json/${TOP_IP_NAME}_syn_filelist.json
H2B_TCL_FILE                    = $WORKAREA/power/pprtl2/REF_MODEL/output/${DUT}/partition/${TOP_MODULE_NAME}/h2b/${H2B_PASS}/fe_collateral/rtl_list_2stage.tcl
USE_V2K_CONFIG                  = true
SDC_FILE                        = $WORKAREA/power/pprtl2/partition/${TOP_MODULE_NAME}/${TOP_MODULE_NAME}_clocks.tcl.fixclocks
HIP_LIBLIST                     = $WORKAREA/power/pprtl2/partition/${TOP_MODULE_NAME}/hip.ldb.list.minimized


CUSTOM_SCRIPT_DIR               = partition/${TOP_MODULE_NAME}

POWER_ANALYSIS_MODE             = vectorless

# For timebased runs when ready
#POWER_ANALYSIS_MODE             = timebased
#MTL_INST_TO_RUN                 = d2d_1
#TOP_INSTANCE                    = d2d_1
#MASTER_TEST_LIST                = control_ww21d.mtl

# mroha:  Only required for gen_filelist input.  Not required for 2stage input.
# VERILOG_ANALYZE_OPTS            = -sverilog +define+INTEL_SVA_OFF+FV_GFIFO_STOP_ASSERTION+FPV_SEC_RESET_FSM+SVA_OFF+MC_ASSERTIONS_OFF+MC_ASSERTIONS_OFF+RESCTRL_Q_CH_SVA_OFF+SVA_OFF+INTEL_SVA_OFF+ADL_SVA_OFF+INTC_NO_PWR_PINS+INTEL_NO_PWR_PINS+NO_PWR_PINS+CXP_EXCLUDE_S_E_F+CXP_EXCLUDE_S_E+B2CXL_SVA_OFF+HAPP_EXCLUDE_S_E+CPM_HI_IFC_SVA_OFF+CPM_HI_SVA_OFF+INTC_MEM_SVA_OFF+INTC_SVA_OFF+ASSERT_OFF+SPK_SVA_OFF+SVA_disable+UCIEDDA_SVA_OFF+CPM_HI_IFC_SVA_OFF+CPM_HI_SVA_OFF+INTEL_SPYGLASS_BUG+LINT_ON+DC+FBLP_8X16_VISA+CPM_SSM_SVA_OFF+CPM_CDX_SVA_OFF+CPM_ASIC_MEMS+CPM_SVA_OFF+CPMG_SVA_OFF+CPM_CDX_EXTERNAL_EBBS+NOPLA+SYNTHESIS+INTEL_DC+PUNIT_SVA_OF