#3.2 Custom aliases
#To define custome aliases specify them in [alias] 
#e.g 
[alias]
#ward1 = <workarea>/handoff/h2b/<block> 
#destination1 =  <workarea>/output/<dut>/h2b/<pass>/CTHBE/fe_collateral/soc

#4. Default Path:
#Default Source path: $WORKAREA for Ip's and $WORKARE/partition/<block> for partition block
#Defaukt Destination path: 
#            - For CTHBE : <workarea>/output/<dut>/h2b/<pass>/CTHBE/fe_collateral/<block>
#            - For HDKBE : <workarea>/output/<dut>/h2b/<pass>/HDKBE/signoff/<block>


[unit] 
rtl_list_2stage=<workarea>/output/<dut>/h2b/trial/fe_collateral/rtl_list_2stage.tcl
hip_tags_xml=<workarea>/output/<dut>/h2b/trial/fe_collateral/<block>.hip_tags.xml
#signoff=<workarea>/output/bdie/h2b_<pass>/partition/<block>/h2b/<pass>/fe_collateral/signoff
#additional_opts=<workarea>/output/<dut>/h2b/trial/fe_collateral/*additional_opts.f
#v2k_cfg=<workarea>/output/simple_soc/h2b/trial_with_hip/fe_collateral/<block>_cfg.sv
#upf=<workarea>/../target/tools/upf/cxp_top/*.upf
#upf_cfg=<workarea>/../target/tools/upf/cxp_top/*.cfg
#set_voltage=<workarea>/output/bdie/h2b_<pass>/partition/<block>/h2b/<pass>/fe_collateral/<block>_set_voltage.tcl
#iso_pins=<workarea>/output/bdie/collage/<pass>/work/upf/merged_syn/<block>_*iso_pins.tcl
