# mroha: Set DUT=dut and TOP_MODULE_NAME=module on the make command line so ${TOP_MODULE_NAME} amd ${DUT}
# mroha: TOP_IP_NAME is set in dut.design.cfg
TOP_IP_NAME                     = ${TOP_IP_NAME}  
TOP_MODULE_NAME                 = ${TOP_MODULE_NAME}
PASS                            = ${TOP_MODULE_NAME}_pass01

LIB_LIST                        = stdcell.ldb.list

# 2stage filelist, hip ldbs, and clock constraints must be provided as a part of the run
# $WORKAREA/REF_MODEL is a symlink to a GK release model being used as input
# Example: $WORKAREA/REF_MODEL -> /nfs/site/disks/corhub_fe_mod_0000/corhub_oks/corhub_oks-a0-corhub_oks-26ww27e


FILELIST                        = $WORKAREA/power/pprtl2/REF_MODEL/output/${DUT}/genfilelist/json/${TOP_IP_NAME}_syn_filelist.json
VERILOG_ANALYZE_OPTS            = -sverilog +define+SVA_OFF+INTEL_SVA_OFF+INTC_NO_PWR_PINS+INTEL_NO_PWR_PINS+NO_PWR_PINS+CXP_EXCLUDE_S_E_F+CXP_EXCLUDE_S_E+B2CXL_SVA_OFF+__HAP_SYN+CPM_HI_IFC_SVA_OFF+CPM_HI_SVA_OFF+INTC_MEM_SVA_OFF+INTC_SVA_OFF+ASSERT_OFF+UCIEDDA_SVA_OFF+INTEL_SPYGLASS_BUG+DC+FBLP_8X16_VISA+CPM_SSM_SVA_OFF+CPM_CDX_SVA_OFF+CPM_ASIC_MEMS+CPM_SVA_OFF+CPMG_SVA_OFF+CPM_CDX_EXTERNAL_EBBS+NOPLA
# Unguarded assertions in pcie6
VCS_ELAB_OPTS                   = -error=noSM_CMPNE_XZ

# H2B input not activated in Cheetah 2026.06
#H2B_TCL_FILE                    = $WORKAREA/power/pprtl2/REF_MODEL/output/${DUT}/partition/${TOP_MODULE_NAME}/h2b/${H2B_PASS}/fe_collateral/rtl_list_2stage.tcl
#USE_V2K_CONFIG                  = true

SDC_FILE                        = $WORKAREA/power/pprtl2/partition/${TOP_MODULE_NAME}/${TOP_MODULE_NAME}_clocks.tcl.fixclocks
HIP_LIBLIST                     = $WORKAREA/power/pprtl2/partition/${TOP_MODULE_NAME}/hip.ldb.list.minimized

DISABLE_UNUSED_REPORTS          = false
CUSTOM_SCRIPT_DIR               = partition/${TOP_MODULE_NAME}

POWER_ANALYSIS_MODE             = vectorless